
<div class="container text-center">
    <h1>Cart</h1>
    <table>
        <ng-container *ngIf="this.cart">
            <tr *ngFor="let op of this.orderProductList" class="product-main-card">
                <td><img style="width: 400px; height: 300px;" src= {{op.product.url}} /></td>
                <div class="name-description">
                    <td><h2 style="text-decoration: underline;">{{ op.product.name }}</h2></td>
                    <!-- <td>{{ op.product.description }}</td> -->
                    <td><h3>${{ op.product.price }}</h3></td>
                </div>
                <div class="stock-buy">
                    <td><h4><span>In Stock: </span>{{ op.product.stock }}</h4></td>
                    <td>
                        <p>Amount in your cart: {{op.quantity}}</p>
                        <input id= {{op.product.id}} type="number" min="1" value={{op.quantity}}>
                        <button class="btn btn-primary" (click)="updateOrderProduct(op.product.id, op)">Update</button>
                    </td>
                </div>
            </tr>
        </ng-container>

    </table>
    <button class="btn btn-primary" (click) = "buyCart()">Purchase</button>
    <button class="btn btn-secondary" (click) = "clearCart()">Clear Cart</button>
</div>

