<div class="container text-center">
    <h1>Order History: </h1>
    <table class="table">
        <tr>
            <th>Order Tracking Number</th>
            <th>Order Status</th>
            <th>Order Date</th>
        </tr>
        <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.createdAt | date: 'M/d/yy, h:mm a' }}</td>
        </tr>
    </table>
    <button class="btn btn-primary" style="margin-top: 30px;" (click)="goBack()">Back to Account</button>
</div>