<div class="container text-center">
    <h1>Employee Portal</h1>
    <button class="btn btn-primary" (click)="toggle()">{{buttonName}}</button>
    <button class="btn btn-secondary" (click)="secondToggle()">{{secondButtonName}}</button>

    <ng-container *ngIf="show">
        <table class="table">
            <tr>
                <th>Time of Order</th>
                <th>Status</th>
                <th>Username</th>
                
            </tr>
            <tr *ngFor="let order of orders">
                    <td>{{ order.createdAt | date: 'M/d/yy, h:mm a' }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.user.username}}</td>
            </tr>
        </table>
    </ng-container>

    <ng-container *ngIf="secondShow">
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Number in Stock</th>
                <th scope="col">Restock</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <input type="number" placeholder="Enter Restock Amount" min="1" [(ngModel)]="product.stock">
                    <button class="btn btn-secondary" (click)="restockOrders(product.name, product.stock)">Restock</button>
                </td>
            </tr>
        </table>
    </ng-container>
    
</div>