<h1>Employee View</h1>


    <button (click)="toggle()">{{buttonName}}</button>
    <ng-container *ngIf="show">
    <table border="1px solid black;">
        <tr>
            <th>Time of Order</th>
            <th>Status</th>
            <th>Username</th>
            
        </tr>
        <tr *ngFor="let order of orders">
                <td>{{ order.createdAt }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.user.username}}</td>
        </tr>
    </table>
</ng-container>
                <button (click)="secondToggle()">{{secondButtonName}}</button>
                <ng-container *ngIf="secondShow">
        <table border="1px solid black;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Number in Stock</th>
                <th>Image</th>
                <th>Restock</th>
            </tr>
                <tr *ngFor="let product of products">
                    <td>{{ product.productId }}</td>
                <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                        <td><img style="width: 200px;" src= {{product.url}} /></td>
                        <td>
                                <input  type="number" placeholder="Enter Restock Amount" [(ngModel)]="product.stock">
                                <button (click)="restockOrders(product.name, product.stock)">Restock</button>
                        </td>
            </tr>
        </table>
    </ng-container>