<h1>Employee View</h1>

<ul>
    <li>view all orders</li>
    <table border="1px solid black;">
        <tr>
            <th>Time of Order</th>
            <th>Status</th>
            <th>Username</th>
            
        </tr>
        <tr *ngFor="let order of orders">
                <td>{{ order.createdAt }}</td>
                <td>{{ order.status }}</td>
                 <td>{{ order.user.username}}</td>
        </tr>
    </table>



    <!-- <div class ='col-md-2'>Filter by:</div>
                <div class = 'col-md-4'>
                    <input type = 'text' [(ngModel)] = 'inputField' placeholder = 'filter'>
                </div> -->
    <li>All product quantities
        <table border="1px solid black;">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Number in Stock</th>
                <th>Image</th>
                <th>Restock</th>
            </tr>
                <!-- <tr *ngFor="let temp of filteredProducts">
                <td>{{ temp.name }}</td>
                <td>{{ temp.description }}</td>
                <td>{{ temp.price }}</td>
                <td>{{ temp.stock }}</td>
                <td><img style="width: 200px;" src= {{temp.url}} /></td>
                 -->
                <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                     <td>{{ product.stock }}</td>
                        <td><img style="width: 200px;" src= {{product.url}} /></td>
                        <td>
                                <input  type="number" placeholder="Enter Restock Amount" [(ngModel)]="product.stock">
                                <button (click)="restockOrders(product.name, product.stock)">Restock</button>
                        </td>
            </tr>
        </table>
    
    </li>
</ul>
