<!-- <p>Welcome {{this.user.username}}</p> -->
<p *ngIf="this.test">Welcome {{this.test}}</p>
<!-- <p *ngIf="this.user">Welcome {{this.user.username}}</p> -->
<!-- set a cookie -->

<h2>Customer Home Options</h2>
<ul>
    <li><a routerLink="/storecard">StoreCards Stuff</a></li>
    <li><a routerLink="/purchasehistory">See Purchase History</a></li>
    <li><a routerLink="/returnitems">Return Items</a></li>
    <li><a routerLink="/employeeview">Employee View</a></li>

    <!-- <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/loginpage" class="nav-link">Log In</a></li> -->

</ul>