<h1>Admin View</h1>

<ul>
    <li>Approve or reject storecard</li>
    <li>View customers purhcase history</li>
    <li>Suspend or revoke customer account by id?</li>
</ul>

<!-- * As an Admin, I can approve or reject request for store card. (* 2 points)
    • This is the same as our P1 approve or reject a request
    • 
* As an Admin, I can view a customer's purchase history. (* 1 point)
    • This is the same as customer without any filter
	
* As an Admin, I can suspend or revoke customer accounts. (* 2 points) -->