<div class="container">
    <table>
        <tr *ngFor="let product of products" class="product-main-card">
            <td><img style="width: 400px; height: 300px;" src= {{product.url}} /></td>
            <div class="name-description">
                <td><h2 style="text-decoration: underline;">{{ product.name }}</h2></td>
                <td>{{ product.description }}</td>
                <td><h3>${{ product.price }}</h3></td>
            </div>
            <div class="stock-buy">
                <td><h4><span>In Stock: </span>{{ product.stock }}</h4></td>
                <td>
                    <input id= {{product.id}} type="number" min="1">
                    <button class="form-control btn btn-primary" style="width: 180px;" (click)="addToCart(product.id)">Add to Cart</button>
                </td>
            </div>
        </tr>
    </table>
    <h4 style="margin-top: 20px;">Check back in later for more hot dealz...</h4>
</div>
