.product-main-card {
    width: 90%;
    border-bottom: 2px solid darkgray;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.name-description {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 20px;
}

.stock-buy {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    padding-top: 20px;

}

td {
    padding-bottom: 15px;
    padding-top: 15px;
}

button {
    margin-top: 10px;
}