<h1>Shop Parts</h1>

<table border="1px solid black;">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Number in Stock</th>
        <th>Image</th>
        <th>Purchase</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td><img style="width: 200px; height: 170px;" src= {{product.url}} /></td>
        <td>
            <input id= {{product.id}} type="number">
            <button (click)="addToCart(product.id)">Buy</button>
        </td>
    </tr>
</table>
