  <app-header-page></app-header-page>
  <!-- <app-home-page></app-home-page> -->
<div class="main">
  <h3>Welcome to our {{title}}</h3>
</div>

<!-- <nav>
  <a routerLink="/homepage">Home</a>
</nav> -->


<!-- this might be another component eventually -->
<!-- <div>
  <ul> -->
    <!-- have login change to log out once they are logged with the sessions -->
    <!-- <li><a routerLink="loginpage">Log In</a></li>

    <li><a routerLink="/user">Create User</a></li> -->
    <!-- show this on the employee page -->
    <!-- <li><a routerLink="/users">User List</a></li> -->
    <!-- <li><a routerLink="/shopmain">Shop Computer Parts</a></li>
  </ul>
</div>

<div class="out"> -->
  


<router-outlet></router-outlet>
<!-- </div> -->