<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a routerLink="/shopmain" class="navbar-brand">Component Dealz</a></div>
    
<!--       <li class="nav-item"><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/user" class="nav-link">Create User</a></li>  -->
<!--       <li class="nav-item"><a *ngIf="loginService.isUserCustomer()" routerLink="/shopmain" class="nav-link">PRODUCTS</a></li>  -->
      <!-- <li class="nav-item"><a *ngIf="loginService.isUserCustomer()" routerLink="/storecard" class="nav-link">STORE CARD</a></li>  -->



    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/user" class="nav-link">Sign Up!</a></li> 
      <li class="nav-item"><a *ngIf="loginService.isUserCustomer()" routerLink="/shopmain" class="nav-link">Computer Parts</a></li> 
      <li class="nav-item"><a *ngIf="loginService.isUserCustomer()" routerLink="/customerhome" class="nav-link">Home</a></li>
      <li class="nav-item"><a *ngIf="loginService.isUserCustomer()" routerLink="/purchasehistory" class="nav-link">Purchase History</a></li> 
      <li class="nav-item"><a *ngIf="loginService.isUserAdmin()" routerLink="/employeeview" class="nav-link">Employee Home</a></li> 
      <li class="nav-item"><a *ngIf="loginService.isUserCustomer()" routerLink="/shoppingcart" class="nav-link">Shopping Cart</a></li>
      <li class="nav-item"><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/loginpage" class="nav-link">Log In</a></li>
      <li class="nav-item"><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Log Out</a></li>

    </ul>
  </nav>
    
</header>