        <!-- <input type="text" placeholder="Enter Username" [(ngModel)]="user.username"/>
        <input type="password" placeholder="Enter Password" [(ngModel)]="user.password"/>
        <button (click)="createUser()">Create Account</button> -->

<div class="container main-container d-flex justify-content-center">
    <div class="card" style="width: 40vw; margin: 10px;">
        <div class="card-body text-center">
            <div name="loginForm">
                <h1 class="card-title" style="text-align: center; margin-bottom: 20px;">Sign up for your exclusive subscription...</h1>
                <div class="form-group">
                    <label for="username">Please enter your preferred username: </label>
                    <input type="text" placeholder="Enter Username"  required minlength="4" [(ngModel)]="user.username" #username="ngModel"/>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                        class="alert alert-danger">
                        <div *ngIf="username.errors.required">
                        Username is required.
                        </div>
                      <div *ngIf="username.errors.minlength">
                        Username must be at least 4 characters long.
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Please enter a secure password: </label>
                    <input id="passinput" type="password" placeholder="Enter Password"required minlength="4" [(ngModel)]="user.password" #password="ngModel"/>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                        Password is required.
                        </div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 4 characters long.
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="submitbutton" class="form-control btn btn-primary"  [disabled]="(username.invalid && (username.dirty || username.touched)) || (password.invalid && (password.dirty || password.touched))"(click)="createUser()">Create Account</button>
                    <h2>...then log in to get started!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
